@{
    ViewData["Title"] = "Edit";
}


<h1> Edit Remedy</h1>

<form action="/remedies/Details/@(Model.RemedyId)" method="put">
    <label for="name"> Remedy Name</label>
    <input id="name" name="name" type="text" value="@(Model.Name)">
    <label for="details"> Remedy Details</label>
    <input id="details" name="details" type="text" value="@(Model.Details)">
    <label for ="ailment"> Ailment Name</label>
    <input id="ailment" name="ailment" type ="text" value ="@(Model.Ailment)">
    <label for="ingredients"> Remedy Ingredients</label>
    <input id="ingredients" name="ingredients" type="text" value="@(Model.Ingredients)"/>

    <button type="submit">Update this Remedy</button>
</form>


    
